* {
    margin: 0;
    padding: 0;
  }
  
  body {
      background-color: #ffffff; 
      margin: 0;
  }
  
  /* --- NAV BAR --- */
  nav {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      background-color: #ffffff;
      z-index: 99;
  }
  
  .nav_content {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
      max-width: var(--max-width);
      margin: auto;
      padding: 1.5rem 1rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
  }
  
  ul {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 1rem;
      list-style: none;
      transition: left 0.3s;
  }
  
  ul li {
      position: relative;
  }
  
  ul li a {
      padding: 0.5rem 1rem;
      border: 2px solid transparent;
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;
      color: #000000;
      transition: 0.3s;
  }
  
  .footer {
      background-color: #000000;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh;
      font-family: 'Montserrat', sans-serif;
  }
  /* --- HOME ---*/
  .home {
    display: flex;
    height: 80vh;
  }
  .logo {
    position: relative;
    top: 5px;
    left: 20px;
  }

 /* --- SPONSORS ---*/
  .sponsor {
    display: flex;
    overflow: hidden;
  }
  
  .sponsor img {
    width: 250px;
    height: 100px;
    margin-right: 20px; 
    transition: transform 0.5s ease-in-out;
  }

  .sponsor img .logo1 {

  }
  
  /* --- FOOTER --- */
  .footer .footer-contact {
  
      font-size: 20px;
      padding-left: 100px;
      line-height: 30px;
  }
  
  .footer h5 {
      font-size: 24px;
      font-weight: lighter;
      text-align: center;
      justify-content: center;
      padding-top: 113px;
  }
